{% extends 'index.html' %}

{% load static %}

{% block title %}
SENAI - CARÔMETRO
{% endblock %}

{% block body %}

<div class="container" style="display: flex; justify-content: center; align-items: center;">
  <div class="buttons">
    <div class="button-group">
      <a href="http://127.0.0.1:8000/muralaviso" class="button-1">
        <i class="bi bi-inboxes"></i>
      </a>
      <h1 class="button-title">Almoxarife</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-box-seam"></i>
      </a>
      <h1 class="button-title">Assistente de Logística</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/muralaviso" class="button-1">
        <i class="bi bi-database-fill-gear"></i>
      </a>
      <h1 class="button-title">Auxiliar de Linha <br>de Produção</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-hourglass"></i>
      </a>
      <h1 class="button-title">Ceramista de Louças <br>Sanitárias</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <span class="material-symbols-outlined" style="font-size: 100px;">
          water_bottle
          </span>
      </a>
      <h1 class="button-title">Construtor de Moldes <br>para Plásticos</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-cpu"></i>
      </a>
      <h1 class="button-title">Eletricista de Manutenção <br>Eletroeletrônica</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-train-freight-front"></i>
      </a>
      <h1 class="button-title">Mantenedor Eletromecânico <br>de Locomotivas</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-tools"></i>
      </a>
      <h1 class="button-title">Mecânico de Manutenção</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-database-check"></i>
      </a>
      <h1 class="button-title">Mecânico de Usinagem</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/muralaviso" class="button-1">
        <span class="material-symbols-outlined" style="font-size: 100px;">
          water_bottle
          </span>
      </a>
      <h1 class="button-title">Mecânico de Usinagem de <br>Moldes para Plásticos</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <span class="material-symbols-outlined" style="font-size: 100px;">
          water_bottle
          </span>
      </a>
      <h1 class="button-title">Projetista de Moldes <br>para Plásticos</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/muralaviso" class="button-1">
        <i class="bi bi-table"></i>
      </a>
      <h1 class="button-title">Técnico em Administração</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-laptop"></i>
      </a>
      <h1 class="button-title">Técnico em Desenvolvimento <br>de Sistemas</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-cpu"></i>
      </a>
      <h1 class="button-title">Técnico em Eletroeletrônica</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-box-seam"></i>
      </a>
      <h1 class="button-title">Técnico em Logística</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-building-gear"></i>
      </a>
      <h1 class="button-title">Técnico em Manutenção de <br>Máquinas Industriais</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <span class="material-symbols-outlined" style="font-size: 100px;">
          water_bottle
          </span>
      </a>
      <h1 class="button-title">Técnico em Plástico</h1>
    </div>
    <div class="button-group">
      <a href="http://127.0.0.1:8000/carometro" class="button-2">
        <i class="bi bi-hand-thumbs-up"></i>
      </a>
      <h1 class="button-title">Técnico em Qualidade</h1>
    </div>
  </div>
</div>

<style>
  body {
    color: white;
    font-family: sans-serif;
    margin: 0;
    align-items: center;
  }



  .logo {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  /* body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  } */




  .container {
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  height: 100vh; /* Certifica-se de que o contêiner ocupe a altura total da janela */
  margin: 0 auto; /* Certifica-se de que o contêiner esteja centralizado horizontalmente */
}

  .buttons {
    display: flex;
    align-items: center;
    margin-top: 2100px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
  }

  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: calc(50% - 30px); 
    margin-bottom: 15px; 
  }

  .button-1:hover,
  .button-2:hover {
    background-color: #ddd;
  }

  .button-1 svg,
  .button-2 svg {
    width: 40px;
    height: 40px;
  }

  .button-title {
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Inter, serif', sans-serif;
    font-weight: 300;
  }

  h1 {
    color: var(--h1-color);
    transition: color 0.3s ease;
  }
</style>

{% endblock %}