{% extends 'index.html' %}

{% load static %}

{% block title %}
SENAI - INFORMAÇÕES CARÔMETRO
{% endblock %}

{% block body %}

<div class="container">

    <!-- Seção do carômetro com informações do usuário -->
    <section class="carometro">
        <h1>Carômetro</h1>
        <div class="info-container">
            <div class="user-icon">
                <i class="bi bi-person-circle" style="font-size: 150px;"></i> <!-- Trocar por imagem -->
            </div>
            <div class="info-text">
                <p><strong>Nome completo:</strong> Nome do usuário</p>
                <p><strong>Contato:</strong> (xx) xxxx-xxxx</p>
                <p><strong>Nome Pai ou Responsável:</strong> Nome do pai</p>
                <p><strong>Nome Mãe ou Responsável:</strong> Nome da mãe</p>
            </div>
        </div>
        <div class="extra-info">
            <p><strong>Informações:</strong></p>
            <!-- Adicionar informações adicionais aqui -->
        </div>
    </section>
</div>

<style>
    /* Definindo o corpo da página */
    body {
        background-color: black;
        color: white;
        font-family: sans-serif;
        margin: 0;
        padding: 0;
    }

    /* Estilizando o cabeçalho */
    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        align-items: center;
    }

    .logo-img {
        width: 150px;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .menu-link {
        color: white;
        text-decoration: none;
        margin-right: 10px;
        font-size: 18px;
    }

    .icon-user {
        width: 30px;
        margin-left: 15px;
    }

    /* Seção principal do Carômetro */
    .carometro {
        margin-top: 90px;
        text-align: center;
    }

    .carometro h1 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .info-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-icon {
        margin-right: 50px;
    }

    .user-img {
        width: 150px;
        border-radius: 50%;
        border: 5px solid white;
    }

    .info-text p {
        font-size: 1.2em;
        margin: 10px 0;
        text-align: left;
        margin-right: 20px;
    }

    /* Informações extras */
    .extra-info {
        margin-top: 30px;
        font-size: 1.2em;
        margin-right: 80px;
    }
</style>

{% endblock %}
