<style>
    .custom-dropdown .btn-secondary {
        background-color: #ffffff;
        /* Cor de fundo personalizada */
        color: #ff0000;
        /* Cor do texto */
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    .custom-dropdown .btn-secondary:hover {
        background-color: #d0d0d0;
        /* Cor de fundo ao passar o mouse */
    }

    .custom-dropdown .dropdown-menu {
        background-color: #ffffffdb;
        /* Cor de fundo do dropdown */
        border-radius: 10px;
        /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Sombra */
    }

    .custom-dropdown .dropdown-item {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #333;
        /* Cor do texto dos itens */
    }

    .custom-dropdown .dropdown-item:hover {
        color: #000000;
        /* Cor do texto ao passar o mouse */
    }

    .navbar-nav .navLinks a {
        color: #ff0000;
        /* Cor do texto */
        margin-top: 0;
        text-decoration: none;
    }

    .navbar-nav .navLinks a:hover {
        color: #ff0000;
        /* Cor do texto ao passar o mouse */

    }

    .navbar-nav {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 26px;
        align-items: center;
    }

    .logo2 {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .logo2 i {
        font-size: 24px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .logo2 p {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
    .IconButton-homepage {
    text-decoration: none;
    color: var(--text-color); /* Cor baseada no tema */
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.IconButton-homepage:hover {
    color: #781010;
    cursor: pointer;
    transform: scale(1.1);
}


    p {
        display: flex;
        justify-content: center;
    }

    .spacer {
        flex-grow: 1;
    }

    .Buttons-component{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 10px;
    }

</style>
<nav class="navbar navbar-expand-lg" style="background-color: #000000;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="gap: 900px">
                <div class="logo2">
                    <img src="/media/logo/logosenaivermelha.png" alt="" style=" max-width: 200px; max-height: 200px ">
                </div>
                <div class="person" style="display: flex; align-items: center; gap: 10px;">
                    <div class="Buttons-component"><a id="theme-toggle" class="IconButton-homepage">
                        <span class="material-symbols-outlined darkModeHomepage">
                            contrast
                            </span>
                        </a>
                    </div>
                    <p style="font-size: 20px; display: flex;">|</p>
                    <a href="http://127.0.0.1:8000/" style="font-size: 20px; color: #ffffff; text-decoration: none; margin-right: 10px;">Login</a>
                    <i class="bi bi-person-circle" style="color: #fff; font-size: 35px;"></i>
                </div>

            </div>
        </div>
    </div>
</nav>