

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;
    gap: 950px;
}


.navbar{
    background-color: #000000;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo2 i{
    font-size: 3em;
}

.logo2 p{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;

}

.navLinks{
    display: flex;
}

a{
    max-width: 400px;
    display: flex;
    color: #ff0000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}





